/*  your css code here. If applicable */
.divison{
	padding:10px;
	border:2px solid lightcyan;
	background-color: #f5f5f5;
	margin:10px;
	cell-spacing:20px;
	font-size:10px	
}
.author{
	text-align: right;
	font:italic;
}
